---
title: アーカイブ
---

<p>
  KDE 3 時代のものなどの古い資料です。<br>
  このページは非常に古い時代のものであり、歴史的資料保存を目的として維持しています。<br>
  現在の状況とは大きく異なる場合がありますので、原則として参考にはしないで下さい。
</p>

<h2>旧 Wiki</h2>

<ul>
  <li><a href='/archives/wiki/Accelerated_kde_for_KNOPPIX.html'>Accelerated_kde_for_KNOPPIX.html</a></li>
  <li><a href='/archives/wiki/envvars.html'>envvars.html</a></li>
  <li><a href='/archives/wiki/faq_for_kde_developers.html'>faq_for_kde_developers.html</a></li>
  <li><a href='/archives/wiki/FAQ1.html'>FAQ1.html</a></li>
  <li><a href='/archives/wiki/FAQ2.html'>FAQ2.html</a></li>
  <li><a href='/archives/wiki/FAQ3.html'>FAQ3.html</a></li>
  <li><a href='/archives/wiki/FAQ4.html'>FAQ4.html</a></li>
  <li><a href='/archives/wiki/FAQ5.html'>FAQ5.html</a></li>
  <li><a href='/archives/wiki/FAQ6.html'>FAQ6.html</a></li>
  <li><a href='/archives/wiki/FAQ7.html'>FAQ7.html</a></li>
  <li><a href='/archives/wiki/FAQ8.html'>FAQ8.html</a></li>
  <li><a href='/archives/wiki/FAQ9.html'>FAQ9.html</a></li>
  <li><a href='/archives/wiki/FAQ10.html'>FAQ10.html</a></li>
  <li><a href='/archives/wiki/FAQ11.html'>FAQ11.html</a></li>
  <li><a href='/archives/wiki/FAQ13.html'>FAQ13.html</a></li>
  <li><a href='/archives/wiki/FrontPage.html'>FrontPage.html</a></li>
  <li><a href='/archives/wiki/kastle2003-what-to-expect-from-qt4.html'>kastle2003-what-to-expect-from-qt4.html</a></li>
  <li><a href='/archives/wiki/KBabel.html'>KBabel.html</a></li>
  <li><a href='/archives/wiki/kde3arch.html'>kde3arch.html</a></li>
  <li><a href='/archives/wiki/kde3arch-html-renderer.html'>kde3arch-html-renderer.html</a></li>
  <li><a href='/archives/wiki/kde3arch-iconloader.html'>kde3arch-iconloader.html</a></li>
  <li><a href='/archives/wiki/kde3arch-libraries.html'>kde3arch-libraries.html</a></li>
  <li><a href='/archives/wiki/kde3arch-standard-resources.html'>kde3arch-standard-resources.html</a></li>
  <li><a href='/archives/wiki/KIO_get_samples.html'>KIO_get_samples.html</a></li>
  <li><a href='/archives/wiki/kio-basic.html'>kio-basic.html</a></li>
  <li><a href='/archives/wiki/Konqueror.html'>Konqueror.html</a></li>
  <li><a href='/archives/wiki/Konstruct.html'>Konstruct.html</a></li>
  <li><a href='/archives/wiki/Konstruct-JP.html'>Konstruct-JP.html</a></li>
  <li><a href='/archives/wiki/Kplayer.html'>Kplayer.html</a></li>
  <li><a href='/archives/wiki/links.html'>links.html</a></li>
  <li><a href='/archives/wiki/Lokalize.html'>Lokalize.html</a></li>
  <li><a href='/archives/wiki/netaccess.html'>netaccess.html</a></li>
</ul>

<h2>過去のセキュリティアドバイザリー</h2>

<ul>
  <li><a href="/announcements/security/advisory-20100825-1.txt">advisory-20100825-1.txt</a></li>
  <li><a href="/announcements/security/advisory-20100413-1.txt">advisory-20100413-1.txt</a></li>
</ul>

<h2>印刷関連</h2>
<ul>
	<li><a href="./printing/">KDE の印刷について</a></li>
	<li><a href="./printing/template.html">新規 KDE クライアントの設定</a></li>
</ul>

<h2>その他</h2>
<ul>
	<li><a href="./po/">KDE 日本語翻訳プロジェクト</a></li>
	<li><a href="./kde2-howtoi18n.html">KDE-2 アプリの国際化の方法</a></li>
	<li><a href="./DevelMiniHOWTO-jp.txt">KDE 開発者のためのミニ・HOWTO</a></li>
	<li><a href="./font.html">フォントの設定</a></li>
	<li><a href="./kde-tutorial.html">KDE による GUI 作成</a> (<a href="./kde-tutorial-en.html">原文</a> / <a href="./examples.tar.gz">本文に出てくる example のアーカイブ</a>)</li>
	<li><a href="./qpl.html">QPL 2.0 の日本語訳</a></li>
	<li><a href="./start_time.html">起動時間の計測</a></li>
	<li><a href="./osc201009_leaflet.pdf">オープンソースカンファレンス 2010 Tokoy/Fall で配布したチラシ</a></li>
</ul>
