---
title: KDEの使用する環境変数 - 旧 Wiki アーカイブ
layout: archive
---

<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?FrontPage" title="FrontPage (336d)">FrontPage</a></p>
<p>元ネタ : <a href="http://kde.ground.cz/tiki-index.php?page=Environment+Variables" rel="nofollow">http://kde.ground.cz/tiki-index.php?page=Environment+Variables</a></p>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDEDIR</dt>
<dd>KDEDIR変数にはKDEのインストールツリーのルートを指定します。
KDEDIRS変数がセットされていない場合は必ず指定されていなければなりません。
これはKDEがアイコンやライブラリといったデータを探すのに使われます。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDEDIRS</dt>
<dd>KDEDIR変数をオーバーライドして、KDEがデータを探す複数のディレクトリを指定することができます。
KDE本体とは違う場所にインストールしたプログラム等を利用したい場合に便利です。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDEHOME</dt>
<dd>指定されない場合、パーソナルデータを保存するために~/.kdeディレクトリが使われます。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDEROOTHOME</dt>
<dd>指定されない場合、管理者(root)のパーソナルデータを保存する為のディレクトリとして ~root/.kde が使われます。
これは "su" でルート権限になった後ユーザーがKDEプログラムを起動した時に、管理者権限でユーザーのデータを上書きしてしまうのを防ぐために導入されました。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDEWM</dt>
<dd>指定したウィンドウマネージャがstartkdeスクリプトでkwinの替わりに用いられます。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDE_LANG</dt>
<dd>KDEの言語設定を上書きします。
例えば、"KDE_LANG=ja kprogram &amp;"とすると必要なファイル(kde-i18n-ja)がインストールされている場合に限りプログラムが日本語の翻訳ファイルを利用して起動します。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDE_MULTIHEAD</dt>
<dd>"true"を指定すると、マルチヘッドシステムとしてKDEが起動します。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDE_DEBUG</dt>
<dd>これを指定するとKDE crash handlerを無効にできます。(コマンドラインオプションで --nocrashhandler を指定するのに相当します。)</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDE_HOME_READONLY</dt>
<dd>ホームディレクトリ読み込み専用としてがマウントされます。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDE_IS_PRELINKED(KDE 3.2)</dt>
<dd>KDEのバイナリやライブラリをprelinkした場合に指定します。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDE_MALLOC</dt>
<dd>"1"を指定すると、KDEが --enable-fast-malloc を指定されている場合に限り kdecore で提供されている高速mallocルーチンが使われます。
そうでない場合はlibcのルーチンが使われます。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDE_NOUNLOAD</dt>
<dd>K<span class="noexists">LibLoader<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=LibLoader&amp;refer=KDE%A4%CE%BB%C8%CD%D1%A4%B9%A4%EB%B4%C4%B6%AD%CA%D1%BF%F4">?</a></span>が動的にオープンされたライブラリをアンロードしないように指定できます。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDE_DOUNLOAD</dt>
<dd>指定されている場合、K<span class="noexists">LibLoader<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=LibLoader&amp;refer=KDE%A4%CE%BB%C8%CD%D1%A4%B9%A4%EB%B4%C4%B6%AD%CA%D1%BF%F4">?</a></span>は常に動的にオープンされたライブラリを案ロードしようとします。
しかし、クラッシュする可能性が高いので気をつけて下さい。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDE_UTF8_FILENAMES</dt>
<dd>指定されている場合、KDEはCロケールを無視してすべてのファイル名がUTF-8でエンコーディングされていると仮定します。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDE_FULL_SESSION(KDE 3.2)</dt>
<dd>KDEが立ち上がる際に自動的に"true"にセットされます。
これは例えば、Konquerorがクローズされる時に、将来的に使われるメモリの残量を考慮すべきかどうかを知る為に使われます。
もしセットされていなければ、クローズされた後Konquerorは終了します。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDESYCOCA</dt>
<dd>システム設定キャッシュファイルのパスや名前を指定します。</dd></dl>
<dl class="list1" style="padding-left:16px;margin-left:16px"><dt>KDETMP</dt>
<dd>/tmpに加えてKDEが一時ファイルを保存するために使うパスを指定します。</dd></dl>
<div class="counter">
Counter:   33,
today:     1,
yesterday: 0
</div>
