---
title: FAQ/13 - 旧 Wiki アーカイブ
layout: archive
---

<h2 id="content_1_0">インストール直後のrootパスワード。  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F13#x8dbce9d" id="x8dbce9d" title="x8dbce9d">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>バージョン: 3.x</li>
<li>アプリケーション: 指定無し</li>
<li>作成日: 2009-05-15 (金) 22:47:59</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F13#x36250e6" id="x36250e6" title="x36250e6">†</a></h3>
<p>インストール直後のrootパスワードが、わかりません。
Admin mode に入れません。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">回答  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F13#n0ee27d9" id="n0ee27d9" title="n0ee27d9">†</a></h3>
<div class="counter">
Counter:   30,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">コメント  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F13#e75f1820" id="e75f1820" title="e75f1820">†</a></h4>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="FAQ/13"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="0"/>
<input name="digest" type="hidden" value="e8b6045480028099de6ad3de377d58ea"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>KDMは、既定ではrootログインできないようになっているのではありませんか？ -- <span class="noexists">さかえ<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=%A4%B5%A4%AB%A4%A8&amp;refer=FAQ%2F13">?</a></span> <span class="comment_date">2009-08-28 (金) 14:32:48</span></li>
<li>これはディストリビューションによるので、ディストリビューションのマニュアルをご覧ください。 -- <span class="noexists">o<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=o&amp;refer=FAQ%2F13">?</a></span> <span class="comment_date">2009-07-19 (日) 02:48:51</span></li></ul>
