---
title: FAQ/3 - 旧 Wiki アーカイブ
layout: archive
---

<h2 id="content_1_0">一部のアプリケーションのメニューが文字化け  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F3#h3e0756a" id="h3e0756a" title="h3e0756a">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>バージョン: 3.x</li>
<li>アプリケーション: 指定無し</li>
<li>作成日: 2003-07-29 (火) 00:14:17</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F3#m89932d7" id="m89932d7" title="m89932d7">†</a></h3>
<p>Netscape、Emacs、xmmsなどの一部のアプリケーションのメニューが<br/>
文字化けしてしまって、読むことができません。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">回答  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F3#ja2f3706" id="ja2f3706" title="ja2f3706">†</a></h3>
<p>まず、KDEコントロールセンターから「色」という設定項目を探し、<br/>
「非KDEアプリケーションにも色設定を適用」のチェックを外してみて下さい。</p>
<p>また、ホームディレクトリに"gtkrc-kde"というファイルがある場合は、<br/>
削除、または、リネームしてみてください。</p>
<p>それでも解消されない場合は、ホームディレクトリに".gtkrc"というファイルを<br/></p>
<pre>style "gtk-default-ja" {
fontset = "-adobe-helvetica-medium-r-normal--14-100-100-100-p-76-iso8859-1,?
-ricoh-ms mincho-medium-r-normal--14-*-*-*-*-*-jisx0208.1983-0,?
-misc-fixed-medium-r-normal--14-*-*-*-*-*-jisx0208.1983-0,?
*-r-*"
}
class "GtkWidget" style "gtk-default-ja"</pre>
<p>という内容で作成することで解消されるはずです。</p>
<div class="counter">
Counter:   19,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">コメント  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F3#j3a5e95a" id="j3a5e95a" title="j3a5e95a">†</a></h4>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="FAQ/3"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="0"/>
<input name="digest" type="hidden" value="81340e0b2482f2403c130291bd2fde4a"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
