---
title: FAQ/9 - 旧 Wiki アーカイブ
layout: archive
---

<h2 id="content_1_0">保存先の指定  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F9#iff32059" id="iff32059" title="iff32059">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>バージョン: -----</li>
<li>アプリケーション: Konqueror</li>
<li>作成日: 2005-08-17 (水) 07:08:50</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F9#f1bcdf11" id="f1bcdf11" title="f1bcdf11">†</a></h3>
<p>WEBサイトのファイルを保存しようとすると、保存はしますが、そのファイルがどこに保存されたかが解りません。しかもなぜかファイル名も変わっているみたいなので検索する名前もわかりません。どなたか回答していただければ幸いです。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">回答  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F9#y4437e0f" id="y4437e0f" title="y4437e0f">†</a></h3>
<div class="counter">
Counter:   27,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">コメント  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F9#g911e211" id="g911e211" title="g911e211">†</a></h4>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="FAQ/9"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="0"/>
<input name="digest" type="hidden" value="49865400bc4b72909de0f191f8843180"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
