---
title: Konstruct-JP - 旧 Wiki アーカイブ
layout: archive
---

<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?Konstruct" title="Konstruct (1242d)">Konstruct</a></p>
<p>Konstruct-JPは<a href="http://www.kde.gr.jp/pukiwiki/index.php?Konstruct" title="Konstruct (1242d)">Konstruct</a>に日本語パッチを付属して配布するものです。</p>
<p>現在、KDE/Qt関連のパッチが非常に散乱した状態に有る上、パッチを当ててまで問題を直そうとするユーザーは少ないと思われます。<br/>
そこでインストールする段階から組込んでおけば有る程度はパッチを作った人達の努力も報われるのではと思った次第です。
御意見やこのパッチも加えたらいいんじゃねえの等有りましたら是非寄せて頂きたいと思います。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td">対象パッケージ</td><td class="style_td">パッチ名</td><td class="style_td">内容</td></tr></tbody></table></div>
<p>今(3.2.1リリース)は特に当てるべきパッチが存在しません。
もし有りましたらコメント下さい。</p>
<hr class="full_hr"/>
<h2 id="content_1_0">パッチの加え方  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Konstruct-JP#k896f14d" id="k896f14d" title="k896f14d">†</a></h2>
<p>3つの作業をするだけです。</p>
<ol class="list1" style="padding-left:16px;margin-left:16px"><li>packagedir/filesにパッチを追加</li>
<li>packagedir/checksumsを更新</li>
<li>packagedir/Makefileにパッチを追加</li></ol>
<p>また、パッチは↓の様に、 work/packagename-versinon/path/to/file という様に編集する必要が有ります。</p>
<pre>
--- work/kdelibs-3.2.0/khtml/rendering/bidi.cpp 2004-02-05 13:44:14.000000000 +0900
+++ tmp/kdelibs-3.2.0.new/khtml/rendering/bidi.cpp      2004-02-05 13:48:49.000000000 +0900</pre>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="Konstruct-JP"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="1"/>
<input name="digest" type="hidden" value="4a6c0721337d0151d00a83035567e7da"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
<div class="counter">
Counter:   34,
today:     1,
yesterday: 0
</div>
