---
title: スタッフの一覧
---

<p>最終更新 2010年10月10日</p>

<h2>組織図</h2>
<pre>会長(代表)　亀田(Daisuke)
├副会長 菰田
└副会長 小川(phanect)
　├一般会員
　├法人会員
　├会計 石原
　└スタッフ
　　├ウェブマスター　小川(phanect)
　　├サーバ管理　亀田
　　├ML管理　小山
　　├翻訳コーディネータ　大串
　　└広報　亀田</pre>

<h2>スタッフの一覧</h2>
<table width="100%">
  <tr>
    <th>名前</th>
    <th>個人ページ</th>
    <th>主な活動内容</th>
  </tr>

  <tr>
    <td><a href="/~daisuke/">亀田 大輔</a></td>
    <td>
      <a href="mailto:daisuke@kde.gr.jp">メール</a>、
      <a href="https://twitter.com/daicki">Twitter</a>
    </td>
    <td>会長、サーバ管理者、KDE/Qt 日本語化パッチ作成、雑用全般</td>
  </tr>

  <tr>
    <td>菰田 泰生</td>
    <td><a href="https://komlog2.blog.so-net.ne.jp/">ブログ</a>、<a href="https://twitter.com/kom">Twitter</a>
    </td>
    <td>副会長 (二代目会長、元翻訳コーディネータ)</td>
  </tr>

  <tr>
    <td>小川 純平 (phanect)</td>
    <td></td>
    <td>副会長、ウェブマスター</td>
  </tr>

  <tr>
    <td>佐藤 暁</td>
    <td></td>
    <td>元副会長</td>
  </tr>

  <tr>
    <td>高木 淳司</td>
    <td></td>
    <td>名誉会員 (Qt 国際化、<small>神様</small>)</td>
  </tr>

  <tr>
    <td>杵渕 聡</td>
    <td></td>
    <td>名誉会員 (初代会長)</td>
  </tr>

  <tr>
    <td>塙 雅典</td>
    <td></td>
    <td>名誉会員、<small>番長、老師</small></td>
  </tr>

  <tr>
    <td>石原 誠</td>
    <td><a href="https://twitter.com/evakichi">Twitter</a></td>
    <td>会計、雑用</td>
  </tr>

  <tr>
    <td>朝木 卓見</td>
    <td><a href="https://twitter.com/takumiasaki">Twitter</a></td>
    <td>Qtの開発 (rpm パッケージ開発の始祖)</td>
  </tr>

  <tr>
    <td>鈴木 佑</td>
    <td><a href="https://twitter.com/tasukusuzuki">Twitter</a></td>
    <td>Qtの開発</td>
  </tr>

  <tr>
    <td>大串</td>
    <td></td>
    <td>翻訳コーディネータ</td>
  </tr>

  <tr>
    <td>木本 篤志</td>
    <td></td>
    <td><small>宴会要員</small></td>
  </tr>

  <tr>
    <td>三嶋 務</td>
    <td></td>
    <td>元 WWW 管理者</td>
  </tr>

  <tr>
    <td>道村 和弘</td>
    <td></td>
    <td>雑用補佐、<small>酔っ払い</small></td>
  </tr>

  <tr>
    <td>小山 哲志</td>
    <td></td>
    <td>ML 管理者</td>
  </tr>

  <tr>
    <td>たかの ゆうじ</td>
    <td><a href="https://running-dog.net/">ブログ</a>、<a href="https://twitter.com/motsuyakiorg">Twitter</a></td>
    <td>FreeBSD 担当</td>
  </tr>

  <tr>
    <td>小川 顕康</td>
    <td></td>
    <td>FreeBSD 担当</td>
  </tr>

  <tr>
    <td>Eric Sagnes</td>
    <td></td>
    <td>現在のサイトのベースを構築</td>
  </tr>
</table>



<h3>役職一覧</h3>
<ul>
  <li>翻訳コーディネータ: 翻訳の取りまとめ、i18n リポジトリの管理</li>
  <li>サーバ管理者: サーバコンピュータの管理</li>
  <li>ウェブマスター: ウェブサイトの更新・保守</li>
  <li>ML 管理者: ML の管理や過去ログシステムの作成</li>
  <li>広報: イベント等の企画・運営、宣伝など<!--日時をMLなど流す、Webに載せる。--></li>

  <!--
  <li>開発コーディネータ：パッチ管理</li>
  <li>ジョブコーディネート：イベントの際講師を選んで依頼する、会場準備の人手を集める。TODOリストの作成。</li>
  <li>企画：イベントの内容、当日のアジェンダ、イベント後の飲み会、などを決める。</li>
  <li>渉外：対外的な交渉を行なう。イベント会場の予約する。</li>
  -->
</ul>

<h3>組織図別項</h3>
<ul>
  <li>歴代役員には名誉会員の称号が与えられる (高木、杵渕、塙)</li>
  <li>スタッフの役職一役に零人以上の担当者を置く</li>
  <li>役職の兼任は一人が三役以下とする</li>
</ul>

<h3>過去にご協力いただいていたスポンサー</h3>
(順不同)<br />
<br />
<table border=0>
  <tr>
    <td><img src="./images/laser5.gif" border=0 alt="LASER5 社のロゴ"></td>
    <td>LASER5 様</td>
  </tr>
  <tr>
    <td><a href="https://www.oceanbreeze.co.jp"><img src="./images/oceanbreeze.png" alt="Ocean Breeze 社のロゴ" border=0></a></td>
    <td>OCEAN BREEZE 様</td>
  </tr>
  <tr>
    <td><img src="./images/mandriva.png" alt="Mandriva 社のロゴ" border=0></td>
    <td>Mandriva 様</td>
  </tr>
</table>

<h2>過去に活動していたスタッフ</h2>


<table width="100%">
  <tr>
    <th>名前</th>
    <th>主な功績</th>
  </tr>

  <tr>
    <td>井村 竜一郎</td>
    <td>FreeBSD 用 ports パッケージ開発</td>
  </tr>

  <tr>
    <td>竹山</td>
    <td>サーバ管理者御意見番</td>
  </tr>

  <tr>
    <td>Lee Wee Tiong</td>
    <td>FTP 管理者</td>
  </tr>

  <tr>
    <td>真崎 洋平</td>
    <td>deb パッケージ開発</td>
  </tr>

  <tr>
    <td>保坂 光紀</td>
    <td>サーバ管理補助、Plamo 用 tgz パッケージ開発</td>
  </tr>

  <tr>
    <td>富山 公保</td>
    <td>マニュアル翻訳コーディネータ</td>
  </tr>

  <tr>
    <td>Toyohiro</td>
    <td>kdenetwork 日本語化パッチの開発</td>
  </tr>

  <tr>
    <td>木村 順一</td>
    <td>Mandrake-JP パッケージ開発</td>
  </tr>

  <tr>
    <td>鳥山 孝司</td>
    <td>サーバ管理者</td>
  </tr>

  <tr>
    <td>Tomoyoshi ASANO</td>
    <td>Linux/Sparc での日本語 KDE 動作検証・開発</td>
  </tr>

  <tr>
    <td>霧上 葉紋</td>
    <td>プレスリリースの翻訳</td>
  </tr>

  <tr>
    <td>Nobutaka Torigoe</td>
    <td>アイコンの達人</td>
  </tr>

  <tr>
    <td>松原 健一</td>
    <td>Kondara MNU/Linux 担当</td>
  </tr>

  <tr>
    <td>Yasunori Date</td>
    <td>サウンド担当</td>
  </tr>

  <tr>
    <td>冨江 洋</td>
    <td>NetBSD 担当</td>
  </tr>

  <tr>
    <td>Yasumasa Ashida</td>
    <td>KAF(KDE Application Framework?)開発の統括</td>
  </tr>

  <tr>
    <td>中堂薗 豊</td>
    <td>WWW 掲示板担当</td>
  </tr>

  <tr>
    <td>豊野 耕太郎</td>
    <td>KDevelop 関連の情報集約</td>
  </tr>

  <tr>
    <td>室橋 宏行</td>
    <td>本家サイトの翻訳</td>
  </tr>

  <tr>
    <td>一ノ宮 隆司</td>
    <td>Qt マニュアル翻訳</td>
  </tr>

  <tr>
    <td>藤岡 俊考</td>
    <td>パッチ管理者</td>
  </tr>

  <tr>
    <td>篠原 昇</td>
    <td>1万メッセージをこなす超翻訳者</td>
  </tr>

  <tr>
    <td>竹洞 陽一郎</td>
    <td>メールサーバ管理者、ジョブコーディネータ</td>
  </tr>

  <tr>
    <td>太田 一樹</td>
    <td>開発コーディネータ</td>
  </tr>

  <tr>
    <td>秋山 一仁</td>
    <td>Vine のパッケージ開発</td>
  </tr>

  <tr>
    <td>利田 盛宏</td>
    <td>アシスタントウェブマスター、デザイナー</td>
  </tr>
</table>
