---
layout: page
---

<h1>{{ page.title }}</h1>

{{ content }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://www.googletagmanager.com/gtag/js?id=UA-1985327-5" defer></script>
<script src="/assets/js/ga-init.js" defer></script>
